# arquivos de cache e compilados do Python
__pycache__/
*.pyc

# arquivos de banco de dados local
*.db
*.sqlite3

# arquivos de ambiente virtual (boa prática para o futuro)
.venv/
venv/

#arquivo com informações pessoais
.env